<link href="/styles/home.css" rel="stylesheet">

<h1 class="home__title">Bienvenidos a la empresa #1 del pais</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorem eligendi modi delectus quam ullam eum commodi natus id maiores.
</p>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati sit distinctio nam, sint voluptatibus fugiat culpa ducimus, voluptas quas nulla architecto mollitia a aliquam ea dignissimos reiciendis recusandae! Ipsum, aut.
</p>