<h1>Projects </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima voluptatum numquam eos dicta nisi illum obcaecati commodi velit aliquid minus?</p>

<ul>
    {{# each projectApp}}
    <li>
        <a href="/projects/{{this.id}}">{{this.name}}</a>
    </li>
    {{/ each}}
</ul>