<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My Awesome App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link href="/styles/index.css" rel="stylesheet">
</head>
<nav class="navBar">
    <ul class="navBar__list">
        <li><a href="/">home</a></li>
        <hr>
        <li><a href="/About-me">About me</a></li>
        <hr>
        <li><a href="/contact">Contact</a></li>
        <hr>
        <li><a href="/projects">Projects</a></li>
        <hr>
        <li><a href="/team">Team</a></li>
    </ul>
</nav>

<body class="body">
    {{{body}}}
</body>
<footer class="footer">Este es el footer</footer>

</html>